body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, sans-serif;
    max-width: 720px;
    margin: 40px auto;
    padding: 0 16px;

}


button {
  color: rgb(16, 16, 16);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background-color: #fefefe;
  
}
